<!-- ======================================ประวัติการจองของนักศึกษา ======================== -->

{% extends 'list_base.html' %}
{% block title %}
<title>All Bookinglist</title>
{% endblock title%}
{% block search %}
<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'history' %}">
  {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
</form>
{% endblock search %}
{% block list %}
<br>
<div class="container shadow bg-light" style=" height:600px;">
<br>


<center>
  <h3>ประวัติการจองสถานที่</h3>
  <br>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style-profile.css'%}">
    <div  class="table-wrapper-scroll-y my-custom-scrollbar" style=" height:450px;">
     
    <table class="table table-hover " >
        <thead >
          <tr>
            <th scope="col" style="width: 7%">ชื่อห้อง</th>
            <th scope="col" style="width: 15%">วันที่ส่งคำร้อง</th>
            <th scope="col" style="width: 15%">ผู้ขอ</th>
            <th scope="col" style="width: 15%">อาจารย์</th>
            <th scope="col" style="width: 15%">เจ้าหน้าที่สถานที่</th>
            <th scope="col" style="width: 8%">สถานะ</th>
            <th scope="col" style="width: 5%"></th>

            
      


         
          </tr>
        </thead>
        <tbody> 

    {% for bl in all_booklist %}
      {% for bs in st_booking %}
        {% if bl.booking_id.id == bs.booking_id.id %}

          <tr>
            <td>{{bl.room_id.name}}</td> 
            <td>{{bl.booking_id.date}}</td>
            <td>{{bl.booking_id.user_id.first_name}} {{bl.booking_id.user_id.last_name}}</td>
            
            {% if bs.teacher_user_id_id == null %}
              <td> - </td>
            {% else %}
            {% for t in teacher %}  
              {% if bs.teacher_user_id_id == t.id %}
                {% for u in user %}  
                  {% if t.user_id_id == u.id %}
                        <td> {{u.first_name}} {{u.last_name}} </td>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% endfor %}
            {% endif %}
            
          
             
            {% if bs.staff_user_id_id == null %}
              <td> - </td>
            {% else %}
              {% for s in staff %}  
                {% if bs.staff_user_id_id == s.id %}
                  {% for u in user   %}  
                    {% if s.user_id_id == u.id %}
                        <td> {{u.first_name}} {{u.last_name}} </td>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}

      
          {% if bl.booking_id.status == 2 %}
                <td> <span class="badge badge-success">{{bl.booking_id.get_status_display}}</span> </td>
          {% elif bl.booking_id.status == 3 %}
                <td> <span class="badge badge-danger">{{bl.booking_id.get_status_display}}</span> </td>
          {% endif %}
          
          <td><a href="{% url 'detail' bl.list_no %}"><button type="submit" class="btn btn-warning" style="float: right;"><span class="oi oi-document"></span></button></a></td>
          </tr>

        {% endif%}
      {% endfor%}
    {% endfor%}


         
        </tbody>
      </table>
     
    </div>
    </center>

  </div>  

{% endblock list %}